<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Medicines sold to patients</h3>
          <div class="col-md-2 pull-right">
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="<%= table_classes %>" id= "invoice-drugs-datatable", data-source="<%= invoice_drugs_path(format: :json) %>">
            <thead>
              <tr>
                <th>Purchase Date</th>
                <th>Invoice ID</th>
                <th>Patient Name </th>
                <th>Drug Name</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br>