<div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%#@items.sum(:quantity) %></h3>
              <p>Items Tracked</p>
            </div>
            <div class="icon">
              <i class="ion ion-search"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>344<%#@items.sum(:remaining_quantity)%></h3>
              <p>Items Available</p>
            </div>
            <div class="icon">
              <i class="ion ion-checkmark"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3><%# (@items.sum(:quantity) - @items.sum(:remaining_quantity)) %></h3>
              <p>Items Unavailable</p>
            </div>
            <div class="icon">
              <i class="ion ion-alert"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><%#@expired.count %></h3>
              <p>Expired Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-android-time"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>