<div class = "container jubomtron">
  <%#form_tag,  class="form-inline"%>
 <!--    <div class="form-group mx-sm-3 mb-2">-->
 <!--      <label for="inputPassword2" class="sr-only">Password</label>-->
 <!--      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">-->
 <!--    </div>-->
 <!--    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>-->
 <!--  </form>-->
  <div class = "row" >
    <div class="delete_invoice" >
     <%= form_tag delete_invoice_path(@invoice) do %>
       <%= text_field_tag :authentication_token,"" ,type: "password", placeholder: "Confirm Identity" %>
       <%= submit_tag "Delete",class: "btn btn-danger" %>
     <% end %>
    </div>
  </div>
</div>
