// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.login-page {
  background: url("/assets/drug_store2") !important;
}
//.ui-autocomplete {
//  max-height: 100px;
//  max-width: 200px;
//  overflow-y: auto;
//  background: #00acd6;
//  /* prevent horizontal scrollbar */
//  overflow-x: hidden;
//}
//.ui-menu-item:hover {
//  background-color: yellow !important;
//}

ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  //@include border-radius(5px);
  @include box-shadow( rgba(0, 0, 0, 0.1) 0 5px 10px );
  //@include background-clip(padding-box);
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  li.ui-menu-item{
    padding:0 .5em;
    line-height:2em;
    font-size:1.4em;
    &.ui-state-focus{
      background: #F7F7F7;
    }
  }

}

.hide {
  display: none;
}
.ui-state-focus {
  background: none !important;
  background-color: blue !important;
  color: #ffffff !important;
  border: none !important;
  //font-size: x-large !important;
}
.logo-lg {
  font-size: large;
}
.new-invoice {
  font-weight: bold;
}
.delete-btn a.delete {
  border-radius: 77%;
  background: #e35f7d;
  padding: 3px;
  color: white;
}
.red {
  color: red;
  font-size: large;
}