// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.login-page {
  background: url("/assets/drug_store2") !important;
}
//.ui-autocomplete {
//  max-height: 100px;
//  max-width: 200px;
//  overflow-y: auto;
//  background: #00acd6;
//  /* prevent horizontal scrollbar */
//  overflow-x: hidden;
//}
//.ui-menu-item:hover {
//  background-color: yellow !important;
//}

ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  //@include border-radius(5px);
  @include box-shadow( rgba(0, 0, 0, 0.1) 0 5px 10px );
  //@include background-clip(padding-box);
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  li.ui-menu-item{
    padding:0 .5em;
    line-height:2em;
    font-size:1.4em;
    &.ui-state-focus{
      background: #F7F7F7;
    }
  }

}

.hide {
  display: none;
}
.ui-state-focus {
  background: none !important;
  background-color: blue !important;
  color: #ffffff !important;
  border: none !important;
  //font-size: x-large !important;
}
.logo-lg {
  font-size: large;
}
.new-invoice {
  font-weight: bold;
}
.delete-btn a.delete {
  border-radius: 77%;
  background: #e35f7d;
  padding: 3px;
  color: white;
}
.red {
  color: red;
  font-size: large;
}
table.pretty thead th  {
  text-align: center;
  background: #66a9bd;
}
table.pretty tbody tr.odd td {
  background: lightgray;
}
table.pretty {
  font-size: large;
}
.invoice_pdf label {
  font-family: "Century Schoolbook L";
}
.login-logo a {
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: fantasy;
}



label.container1 {
  //display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
label.container1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
label.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label.container1 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
div.mt-20 {
  margin-top: 26px;
}