<section class="content">
  <!-- Small boxes (Stat box) -->
  <% render partial: "/dashboard/status"%>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Stock History </h3>
        <div class="col-md-2 pull-right">
          <%= link_to "Add Stock Item", new_drugs_stock_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="<%= table_classes %>" id= "drug-stocks-datatable", data-source="<%= drugs_stocks_path(format: :json) %>">
          <thead>
          <tr>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Drug</th>
            <th>Quantity</th>
            <th>Retail Price</th>
            <th>Trade Price</th>
            <th>Purchase Price</th>
            <th>Company</th> 
            <th>Actions</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
</section>


<br>

<%= link_to 'New Drugs Stock', new_drugs_stock_path %>
