
<div class = "content">
  <div class= "row">
    <div class = "col-md-12">
      <div class = "box new-invoice">
        <h1>Reports </h1>
          <p><strong>Work In Progress.</strong></p>
          <%#= label_tag :Start_date %>
          <%#= text_field_tag :invoice_date, nil, class: "form-control datepicker" %>
      </div>
    </div>
  </div>
</div>